/* Animations */

@keyframes aside__icons {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        color: var(--secondary-color);
    }
}

@keyframes section__icon  {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
        color: var(--secondary-color);
    }
}

@keyframes display__title {
    from {
        margin-bottom: 100%;
    } to {
        margin-bottom: 0%;
    }
}

@keyframes more__title {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
    
}