/* Misc */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Sansita+Swashed:wght@300&family=Shippori+Antique+B1&display=swap");
.theme {
  --bg-color: #f2f2f2;
  --font-color: #2b2b2b;
  --icon-color: #2b2b2b;
  --nav-color: #161625;
  --nav-font-color: #f2f2f2;
  --transparent: rgba(255, 255, 255, 0.8);
  transition: all .5s; }
  .theme--dark {
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --icon-color: #f2f2f2;
    --nav-color: #f2f2f2;
    --nav-font-color: #2b2b2b;
    --transparent: rgba(22, 22, 37, 0.8);
    transition: all .5s; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  max-height: 100vh;
  background-color: var(--bg-color) !important;
  color: var(--font-color) !important; }

#home {
  display: grid;
  grid-template-areas: "header header header header" "aside navbar navbar navbar" "aside about about about" "aside services services services" "aside works works works" "aside footer footer footer";
  grid-template-columns: 4em;
  grid-template-rows: 60% 5rem 1fr 1fr 1fr; }

aside {
  grid-area: aside;
  z-index: 1; }

header {
  grid-area: header; }

nav {
  grid-area: navbar; }

#about {
  grid-area: about; }

#services {
  grid-area: services; }

#works {
  grid-area: works; }

footer {
  grid-area: footer; }

.circle__list {
  list-style-type: circle; }

.square__list {
  list-style-type: square; }

.dash__list {
  list-style-type: none; }
  .dash__list::before {
    content: "-"; }

@media screen and (max-width: 768px) {
  #home {
    grid-template-areas: "aside aside aside aside" "header header header header" "navbar navbar navbar navbar" "about about about about" "services services services services" "works works works works" "footer footer footer footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5% 20% 5% auto; } }

.display-row {
  display: flex; }

.display-column {
  display: flex;
  flex-direction: column; }

.container-box {
  max-width: 1080px;
  margin: 0 auto; }

ul {
  list-style-type: none !important; }

a {
  text-decoration: none !important; }

.titles {
  transform: translateX(-0.75em);
  transition: transform 200ms; }
  .titles::before {
    content: '#';
    display: inline-block;
    width: 0.75em;
    color: #818cab;
    opacity: 0;
    transition: opacity 200ms; }
  .titles:hover {
    transform: none; }
  .titles:hover::before {
    opacity: 1; }

@media screen and (max-width: 768px) {
  .titles {
    transform: none;
    transition: none; }
    .titles::before {
      content: none;
      width: 0em; } }

@keyframes aside__icons {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg);
    color: #818cab; } }

@keyframes section__icon {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg);
    color: #818cab; } }

@keyframes display__title {
  from {
    margin-bottom: 100%; }
  to {
    margin-bottom: 0%; } }

@keyframes more__title {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(2deg); }
  50% {
    transform: rotate(-2deg); }
  75% {
    transform: rotate(2deg); }
  100% {
    transform: rotate(0deg); } }

/* Partials */
.icon {
  color: var(--nav-font-color);
  transition: all step-end; }
  .icon:hover {
    animation-name: aside__icons;
    animation-duration: 2s;
    animation-fill-mode: forwards; }

.section-icon {
  transition: all step-end; }
  .section-icon:hover {
    animation-name: section__icon;
    animation-duration: 2s;
    animation-fill-mode: forwards; }

.aside {
  background-color: var(--nav-color);
  position: fixed;
  height: 100vh;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 1rem; }
  .aside__box {
    margin: 2rem 0; }
  .aside__item {
    margin: 1em 0; }
    .aside__item__switch {
      display: flex;
      align-items: center; }
      .aside__item__switch__label {
        display: inline-block;
        position: relative;
        width: 3rem;
        height: 1.7rem; }
      .aside__item__switch__input {
        display: none; }
        .aside__item__switch__input:checked + .aside__item__switch--slider {
          background-color: var(--bg-color); }
        .aside__item__switch__input:checked + .aside__item__switch--slider:before {
          transform: translateX(4px); }
      .aside__item__switch--slider {
        background-color: var(--bg-color);
        width: 3.5rem;
        height: 1.5rem;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        top: 0;
        right: 0;
        transition: .5s; }
        .aside__item__switch--slider:before {
          background-color: var(--nav-color);
          bottom: .4rem;
          content: '';
          left: .4rem;
          position: absolute;
          transition: .5s;
          width: .7rem;
          height: .7rem; }
      .aside__item__switch--round {
        border-radius: 1.3rem; }
        .aside__item__switch--round::before {
          border-radius: 1.3rem; }
      .aside__item__switch--icon {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100%;
        font-size: 1.3rem;
        padding-right: .3rem; }

@media screen and (max-width: 768px) {
  .aside {
    position: relative;
    height: auto;
    top: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; }
    .aside__box {
      display: flex; }
    .aside__item {
      margin: 0 1rem; } }

.header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom; }
  .header__content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__content__keys {
      color: #818cab; }
      .header__content__keys::before {
        content: '{'; }
      .header__content__keys::after {
        content: '}'; }
    .header__content__title__box {
      background-color: var(--transparent);
      border-radius: .5rem;
      padding: 1rem;
      animation: display__title;
      animation-duration: 1s;
      transition: all ease-in-out;
      top: 0; }
    .header__content--title {
      font-family: var(--primary-font);
      color: var(--light-white);
      font-weight: bold;
      font-size: 3em;
      padding: .2em; }
  .header__icon {
    color: #818cab; }

@media screen and (max-width: 768px) {
  .header {
    background-size: cover; } }

.navbar {
  background-color: var(--nav-color);
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden; }
  .navbar__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .navbar__box__item {
      align-self: center; }
  .navbar-list {
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
    .navbar-list__item {
      margin: 0 1rem; }
  .navbar-item {
    color: var(--nav-font-color);
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 1.6em;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: .2rem;
    transition: .5s;
    padding: .6rem; }
    .navbar-item:hover {
      border: 2px solid #818cab;
      color: var(--nav-font-color); }

.form-switch {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 768px) {
  .navbar-item {
    font-size: .8em;
    padding: .3rem; } }

.footer {
  background-color: var(--nav-color);
  color: var(--nav-font-color);
  padding: 1rem 0; }

/* Views */
.about {
  margin: 1rem;
  padding-top: 4.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .about__title {
    font-size: 6em;
    font-family: "Sansita Swashed", sans-serif; }
  .about__content {
    font-size: 3em; }
  .about__grid {
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;
    justify-self: center;
    padding: 1rem 0; }
    .about__grid__box-content {
      font-family: "Shippori Antique B1", sans-serif;
      font-size: 1.4em;
      margin: 4rem; }
    .about__grid__image {
      min-width: 5em; }
      .about__grid__image-image {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 1rem; }
  .about__more__title {
    display: inline-block;
    font-family: "Shippori Antique B1", sans-serif;
    font-size: 2.5em;
    color: var(--nav-font-color);
    background-color: var(--nav-color);
    border-radius: .5rem;
    padding: 1.3rem;
    transition: all step-end;
    margin: 1rem; }
    .about__more__title:hover {
      color: var(--nav-font-color);
      animation-name: more__title;
      animation-duration: 2s; }

.item {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 1fr; }

@media screen and (max-width: 768px) {
  .about {
    padding: 0; }
    .aboutul {
      padding: 0.1em; }
    .about__grid {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      grid-template-columns: 12fr;
      grid-template-rows: 12fr; }
      .about__grid__box__image-image {
        margin: 0;
        width: 100%; }
  .item {
    grid-template-columns: 12fr; } }

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  padding: 3rem 0; }
  .services__title {
    font-size: 3.6em;
    font-family: "Shippori Antique B1", sans-serif;
    font-weight: 100; }
    .services__title--sub {
      font-size: 2em; }
  .services__item {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--nav-color);
    margin: 1rem;
    position: relative;
    overflow: hidden; }
    .services__item:hover .services__item__content {
      visibility: visible;
      opacity: 1; }
    .services__item__image__box {
      min-width: 100%;
      overflow: hidden;
      margin: 0 auto; }
    .services__item-image {
      width: 100%;
      height: 100%;
      transition: transform .5s, filter .5s ease-in-out;
      filter: grayscale(100%); }
      .services__item-image:hover {
        filter: grayscale(0);
        transform: scale(1.1); }
    .services__item__content {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      bottom: 0;
      z-index: 10;
      transition: all .5s;
      padding: 3rem;
      background-color: var(--nav-color);
      color: var(--nav-font-color);
      height: 40%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-items: center; }
      .services__item__content__space {
        display: grid;
        grid-template-columns: 1fr; }
      .services__item__content-title {
        display: inline-block;
        font-size: 1.5em;
        font-family: "Shippori Antique B1", sans-serif; }
      .services__item__content-description {
        font-family: "Shippori Antique B1", sans-serif;
        font-size: 1.3em; }

@media screen and (max-width: 768px) {
  .serviecs__item {
    margin: 1rem 0; }
    .serviecs__item-image {
      width: 100%;
      min-width: 15rem; } }

.works {
  margin: 2rem; }
  .works__title {
    font-family: "Sansita Swashed", sans-serif;
    font-size: 3.6em; }
    .works__title-two {
      font-family: "Shippori Antique B1", sans-serif;
      font-size: 1.4em; }

.websites {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  grid-template-rows: 100%;
  grid-auto-flow: row; }
  .websites__item {
    grid-auto-flow: column;
    margin: 1rem;
    justify-self: center;
    align-self: center; }
    .websites__item__picture {
      min-width: 100%;
      overflow: hidden;
      margin: 0 auto; }
      .websites__item__picture-image {
        width: 100%;
        transition: transform .5s, filter .5s ease-in-out; }
        .websites__item__picture-image:hover {
          transform: scale(1.1); }
    .websites__item__content {
      padding: 3rem;
      background-color: var(--nav-color);
      padding: 1rem; }
      .websites__item__content__description {
        font-family: "Shippori Antique B1", sans-serif;
        font-size: 1.4em;
        color: var(--nav-font-color); }
    .websites__item__flex {
      margin: 1rem; }
