.about {
    margin: 1rem;
    padding-top: 4.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &__title {
        font-size: 6em;
        font-family: $special-font;
        
    }
    &__content {
        font-size: 3em;
    }
    &__grid {
        display: grid;
        grid-template-columns: 6fr 6fr;
        align-items: center;
        justify-self: center;
        padding: 1rem 0;
        &__box-content {
            font-family: $primary-font;
            font-size: 1.4em;
            margin: 4rem;
        }
        &__image {
            min-width: 5em;
            &-image {
                width: 100%;
                max-width: 100%;
                height: auto;
                border-radius: 1rem;
            }
        }
    }
    &__more__title {
        display: inline-block;
        font-family: $primary-font;
        font-size: 2.5em;
        color: var(--nav-font-color);
        background-color: var(--nav-color);
        border-radius: .5rem;
        padding: 1.3rem;
        transition: all step-end;
        margin: 1rem;
        &:hover {
            color: var(--nav-font-color);
            animation-name: more__title;
            animation-duration: 2s;
        }
    }
}

.item {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 1fr;
}

@media screen and (max-width: 768px) {
    .about {
        padding: 0;
        &ul {
            padding: 0.1em;
        }
        &__grid {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            grid-template-columns: 12fr;
            grid-template-rows: 12fr;
            &__box__image-image {
                margin: 0;
                width: 100%;
            }
        }
    }
    .item {
        grid-template-columns: 12fr;
    }
}