.works {
    padding: 3rem;
    &__box {
        padding: 3rem;
        margin: 2rem;
        &__title {
            font-family: $special-font;
            font-size: 4em;
            &--sub {
                font-family: $primary-font;
                font-size: 2em;
                padding-top: 1.3rem;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        &__items {
            padding-top: 10rem;
            font-size: 2em;
            &--link {
                font-family: $primary-font;
                background-color: var(--opposite-color);
                color: var(--opposite-font-color);
                padding: 3rem;
            }
        }
    }
}