.works {
    margin: 2rem;
    &__title {
        font-family: $special-font;
        font-size: 3.6em;
        &-two {
            font-family: $primary-font;
            font-size: 1.4em;
        }
    }
}


.websites {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    grid-template-rows: 100%;
    grid-auto-flow: row;
    &__item {
        grid-auto-flow: column;
        margin: 1rem;
        justify-self: center;
        align-self: center;
        &__picture {
            min-width: 100%;
            overflow: hidden;
            margin: 0 auto;
            &-image {
                width: 100%;
                transition: transform .5s, filter .5s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        &__content {
            padding: 3rem;
            background-color: var(--nav-color);
            padding: 1rem;
            &__description {
                font-family: $primary-font;
                font-size: 1.4em;
                color: var(--nav-font-color);
            }
        }
        &__flex {
            margin: 1rem;
        }
    }
}