.footer {
  background-color: var(--opposite-color);
  color: var(--opposite-font-color);
  height: 50vh;
  font-family: $primary-font;
  &__wrapper {
    display: flex;
    height: 44vh;
    justify-content: space-around;
    align-items: center;
    
    &__item {
      width: 25%;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    
      h1 {
        font-size: 2rem;
      }
    }
    &__item:last-child{

        
      }
      &__item__logo{
        background-color: yellow;
        width: 70%;
        height: 70%;
    }
    &__list {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &__item {
        font-size: 1.4rem;
        color: var(--opposite-font-color);
      }
     
    }

  }
  &__closing{
    width: 100%;
    text-align: center;
    height: 6vh;
    float: inline-end;
    font-size: 1.2rem;
  }
}
